<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">


    <title>User Login</title>
    <link rel="stylesheet" type="text/css" href="Login.css">
    <link rel="shortcut icon" href="http://www.iconarchive.com/download/i102645/graphicloads/flat-finance/person.ico">

</head>
<body>
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <img src=http://www.iconarchive.com/download/i102645/graphicloads/flat-finance/person.ico"/>
        </div>

        <!-- Login Form -->
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
        </form>

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
        </div>

    </div>
</div>

</body>
</html>